.footer {
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer p {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    padding: 4px;
  }
  
  @mixin cajas($bgcaja) {
    background-color: $bgcaja;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.uno{
    @include cajas($bgcaja1)
}
.dos{
    @include cajas($bgcaja2)
}
.tres{
    @include cajas($bgcaja3)
}