.header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
  }
  .header .log {
    cursor: pointer;
  }
  .header .log img {
    height: 70px;
    width: auto;
  }
  .header .log img:hover {
    transform: scale(1.2);
  }
  .header .nav-links {
    list-style: none;
  }
  .header .nav-links li {
    display: inline-block;
    padding: 0 20px;
  }
  .header .nav-links li:hover {
    transform: scale(1.4);
  }
  .header .nav-links a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: "Barlow", sans-serif;
  }
  .header .nav-links li a:hover {
    color: black;
  }
  .header .btn button {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header .btn button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
  }